

<table class="table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Venta</th>
      <th scope="col">Compra</th>
      <th scope="col">Vlr/Unitario</th>
      <th scope="col">Vlr/Total</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">1</th>
      <td>{{product.nombre}}</td>
      <td>{{product.cantidad}}</td>
      <td>{{product.cantidad1}}</td>
      <td>{{product.valor}}</td>
      <td>{{product.valor*product.cantidad}}</td>
    </tr>
  </tbody>
</table>
