<h1 class="animated fadeIn fast">AGREGAR PRODUCTOS</h1>
<br><br>
<form>

  <div class="form-group">
    <label for="formGroupNomProductInput">Nombre del Producto</label>
    <input type="text" class="form-control" id="formGroupNomProductInput" placeholder="Nombre del Producto">
  </div>

  <div class="form-group">
    <label for="FormControlSelectCategoria">Categoría</label>
    <select class="form-control" id="FormControlSelectCategoria">
      <option>Muñecos</option>
      <option>Afiches</option>
      <option>Ropa</option>
      <option>Accesorios</option>
      <option>Colección</option>
    </select>
  </div>

  <div class="form-group">
    <label for="FormControlSelectCasa">Casa</label>
    <select class="form-control" id="FormControlSelectCasa">
      <option>Marvel</option>
      <option>DC</option>
    </select>
  </div>

  <div class="form-group">
    <label for="formGroupDescripcionInput">Descripción del Producto</label>
    <input type="text" class="form-control" id="formGroupDescripcionInput" placeholder="Descripción">
  </div>

  <button (click)="agregarProducto()" type="button" class="btn btn-dark">Agregar</button>
</form>
