<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <h1 class="display-4">HULK STORE</h1>
    <p class="lead">Superman. Batman. Spider-Man. Hulk. Los X-Men. Durante mucho del siglo pasado, los superhéroes de los cómics han capturado la imaginación de lectores alrededor del globo. Han sido relegados por los adultos como "material para niños", pero un vistazo bajo las capuchas, capas y disfraces en spandex de brillantes colores revela otra historia. Los superhéroes de los cómics reflejan lo mejor y lo peor de la humanidad, tocando historias personales, políticas y sociales en una forma que ningún otro medio puede.</p>

    <p class="lead">Aprovecha de este espacio y disfruta de toda la variedad de productos que tenemos para tu disposición
      y disfruta del control de ellas.</p>
  </div>
</div>
